@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&family=Raleway:ital,wght@0,100..900;1,100..900&family=Red+Hat+Display:ital,wght@0,300..900;1,300..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Outfit:wght@100..900&family=Raleway:ital,wght@0,100..900;1,100..900&family=Red+Hat+Display:ital,wght@0,300..900;1,300..900&display=swap");

:root {
  /* Primary colors */
  --navy-850: hsl(217, 28%, 15%);
  --navy-900: hsl(218, 28%, 13%);
  --navy-950: hsl(216, 53%, 9%);
  --navy-800: hsl(219, 30%, 18%);

  /* Accent colors */
  --teal-200: hsl(198, 60%, 50%);
  --cyan-500: hsl(176, 68%, 64%);
  --red-500: hsl(0, 100%, 63%);
}

* {
  margin: 0px;
  box-sizing: border-box;
}

h2 {
  font-size: 17px;
}

body {
  display: flex;
  height: 100vh;
  flex-direction: column;
  align-items: center;
  background-color: var(--navy-850);
}

header {
  width: 100%;
}

nav {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1.2em 1.2em;
}

nav img {
  height: 30px;
}

.nav-links {
  display: flex;
  list-style: none;
  gap: 1rem;
  font-family: "Raleway", sans-serif;
  font-weight: 300;
  font-size: 16px;
  color: white;
  align-items: center;
}

.nav-links li a {
  text-decoration: none;
  color: white;
}

.intro {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 1em;
  padding-left: 2.5em;
  padding-right: 2.5em;
  padding-bottom: 8em;
  position: relative;
  width: 100%;
}

.intro-text {
  padding-top: 1.3em;
  padding-bottom: 2em;
  color: white;
  font-family: "Open Sans";
  font-size: 14px;
  text-align: center;
}

.intro-text h1 {
  font-size: 23px;
  font-weight: 600;
  padding-bottom: 0.5em;
}

/* intro */
.intro-image img {
  max-width: 300px;
  margin: 0px;
}

.background-merge {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 200px;
  left: 0;
  width: 100%;
  z-index: -1;
}

.background-merge img {
  width: 100%;
}

.square {
  background-color: var(--navy-900);
  width: 100%;
  height: 340px;
}

.intro-cta {
  padding: 0.8em 5em;
  border: none;
  border-radius: 25px;
  background-color: var(--teal-200);
  color: white;
  font-family: "Open Sans", sans-serif;
  font-weight: 600;
  cursor: pointer;
}

.intro-cta a {
  color: white;
  text-decoration: none;
}

.features {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  background-color: var(--navy-900);
  gap: 1em;
  color: white;
  text-align: center;
  padding: 3em 2.5em;
  font-size: 14px;
  font-family: "Open Sans";
}

.features img {
  padding-bottom: 1em;
}

.last-feature {
  padding-bottom: 15em;
}

/* Stay productive */
.stay-productive {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: center;
  justify-content: center;
  background-color: var(--navy-900);
  padding: 0 2.4em;
  color: white;
  font-family: "Open Sans";
}

.stay-productive p {
  font-size: 14px;
  text-align: left;
}

.productive-image img {
  max-width: 100%;
  padding-bottom: 2em;
}

.productive-text {
  display: flex;
  flex-direction: column;
  gap: 1.2em;
}

.see-how {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding-bottom: 15em;
}

.see-how a {
  text-decoration: none;
  color: var(--cyan-500);
}

.border {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 0.3em;
  padding-bottom: 0.3em;
  border-bottom: 2px solid var(--cyan-500);
}

.border img {
  width: 20px;
}

/* Testimonials section */
.testimonials {
  background-color: var(--navy-900);
  padding: 0 3.2em;
  display: flex;
  width: 100%;
  flex-direction: column;
  gap: 2em;
}

.testimonial .quotes {
  position: absolute;
  top: -25px;
  left: 8px;
  width: 35px;
  height: 25px;
}

.testimonial {
  border-radius: 0.4em;
  position: relative;
  display: flex;
  flex-direction: column;
  background-color: var(--navy-800);
  color: white;
  font-size: 10px;
  font-family: "Open Sans";
  padding: 2.4em;
  line-height: 1.8em;
  box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.2);
}

.testimonial .quote {
  padding-bottom: 1.2em;
}

.testimonial .user {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 1em;
}

.user img {
  max-width: 40px;
  border-radius: 50%;
}

.user-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

/* Cta */

.cta {
  display: flex;
  width: 100%;
  background-color: var(--navy-900);
  padding: 1.2em;
  position: relative;
  z-index: 2;
}

.cta .container {
  display: flex;
  flex-direction: column;
  color: white;
  width: 100%;
  font-family: "Open Sans";
  text-align: center;
  border-radius: 0.6em;
  box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.5);
  background-color: hsl(217, 28%, 15%);
  gap: 1.5em;
  padding: 1.2em;
  padding-top: 2em;
}

.cta input {
  padding: 0.8em 1em;
  border-radius: 25px;
  height: 47.59px;
}

.cta .btn {
  border: none;
  border-radius: 25px;
  background-color: var(--teal-200);
  color: white;
  font-family: "Open Sans", sans-serif;
  font-weight: 600;
  cursor: pointer;
  text-decoration: none;
  padding: 0.8em 0em;
}

.background-merge-bottom {
  background-color: var(--navy-950);
  display: flex;
  flex-direction: column;
  position: absolute;
  height: 180px;
  top:220px;
  left: 0;
  width: 100%;
  z-index: -1;
}s

/* Footer */
footer {
  background-color: var(--navy-950);
  display: flex;
  flex-direction: column;
  width: 100%;
  color: white;
  font-family: "Open Sans", sans-serif;
  padding: 2em;
  gap: 1.2em;
}

.footer-logo {
  padding-left: 1em;
  padding-bottom: 1.5em;
}

.location {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-start;
  gap: 1.5em;
}

.location img {
  min-width: 20px;
}

.contact {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 1.5em;
  padding-bottom: 4em;
}

.phone {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-start;
  gap: 1.5em;
}

.email {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-start;
  gap: 1.5em;
}

.footer-links {
  display: flex;
  flex-direction: column;
  gap: 3em;
  padding-bottom: 3em;
}

.footer-links ul {
  display: flex;
  flex-direction: column;
  gap: 0.8em;
  list-style: none;
  padding-left: 0px;
}

.footer-links ul li a {
  text-decoration: none;
  color: white;
  font-family: "Open Sans", sans-serif;
}

.socials {
  display: flex;
  flex-direction: row;
  width: 100%;
  padding-bottom: 8em;
  justify-content: center;
  gap: 1em;
}

.socials a {
  border: 1px solid white;
  border-radius: 50%;
  display: flex;
}

.socials img {
  padding: 0.5em;
  width: 30px;
}
