@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&family=Raleway:ital,wght@0,100..900;1,100..900&family=Red+Hat+Display:ital,wght@0,300..900;1,300..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Outfit:wght@100..900&family=Raleway:ital,wght@0,100..900;1,100..900&family=Red+Hat+Display:ital,wght@0,300..900;1,300..900&display=swap");

:root {
  /* Primary colors */
  --navy-850: hsl(217, 28%, 15%);
  --navy-900: hsl(218, 28%, 13%);
  --navy-950: hsl(216, 53%, 9%);
  --navy-800: hsl(219, 30%, 18%);

  /* Accent colors */
  --teal-200: hsl(198, 60%, 50%);
  --cyan-500: hsl(198, 60%, 50%);
  --red-500: hsl(0, 100%, 63%);
}

* {
  margin: 0px;
  box-sizing: border-box;
}

body {
  display: flex;
  height: 100vh;
  flex-direction: column;
  align-items: center;
  background-color: var(--navy-850);
}

header {
  width: 100%;
}

nav {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1.2em 1.2em;
}

nav img {
  height: 30px;
}

.nav-links {
  display: flex;
  list-style: none;
  gap: 1rem;
  font-family: "Outfit", sans-serif;
  font-weight: 300;
  font-size: 16px;
  color: white;
  align-items: center;
}

.nav-links li a {
  text-decoration: none;
  color: white
}


/* intro */
.intro-image img {
  max-width: 350px;
}

.productive-image img {
  max-width: 350px;
}

.socials .social {
  max-width: 350px;
}